.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
}

.mat-expansion-panel{
    background: none;
    a{
        display: block;
        margin: 15px 0;
        width: 100%;
        padding-left: 20px; 
    }
    a.active{
        color: darkslateblue;
        font-weight: 700;
    }
}