<form [formGroup]="filterGroup">
  <div class="filter-container">
    <mat-form-field class="example-full-width w-25">
      <input matInput
             (keyup)="emite()"
             formControlName="name"
             placeholder="Name">
    </mat-form-field>
    <div class="w-75"
         style="display: inline">
      <ng5-slider class="w-25 d-inline-block" style = "margin: 35px 75px 15px;" [(value)]="minPrice" [(highValue)]="maxPrice" [options]="optionsSlider"></ng5-slider>
      <mat-form-field>
        <mat-label>Categories</mat-label>
        <mat-select (selectionChange)="emite()"
                    formControlName="category">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let category of categories"
                      [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>