  .menu-container{
    background: #ffffff;
    height: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    .menu-container {
      display: none;
    }
  }

  td:nth-child(1){
    width: 25%;
    max-width: 300px;
  }

  td{
    vertical-align: top;
    padding: 25px;
  }