<app-dashboard-navbar [sideBar]="drawer"></app-dashboard-navbar>
<mat-drawer-container class="example-container" style="height: auto;"
                      autosize>
  <mat-drawer #drawer
              class="example-sidenav w-25"
              mode="side"
              (opened)="drawer"
              style="background: #6d1717; position: fixed; top: 75px; height: calc(100% - 75px);">
    <div style="width: 100%; height: 100%;">
      <button routerLink="/dashboard"
              type="button"
              class="btn btn-secondary btn-lg btn-block">Dashboard</button>
      <button routerLink="/books" type="button" class="btn btn-secondary btn-lg btn-block">Books</button>
      <button routerLink="/magazines" type="button"
              class="btn btn-secondary btn-lg btn-block">Magazines</button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content w-100 h-100">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>